@model CMSPlus.Domain.Models.TopicModels.TopicDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.CreatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>

    <div class="col-12 text-end m-2">
        <a class="btn btn-primary" asp-controller="Comment" asp-action="Create" asp-route-topicId="@Model.Id">Add comment</a>
    </div>

    <ul class="list-group">
        @foreach(var comment in Model.Comments)
        {
            <li class="list-group-item">
                <p class="text-black-50">Created: @comment.CreatedOnUtc</p>
                <p class="text-black"><span class="fw-bold">@comment.FullName: </span>@Html.Raw(comment.Body)</p>

                @using (Html.BeginForm("Delete", "Comment", new { id = comment.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-primary">Delete</button>
                }
            </li>
        }
    </ul>
</div>
